<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">My Canvasses</a></li>
  <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Shared with me</a></li>
  
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">
    <div class="gallery">
      <div class="container">
        <div class="row">
                  <div class="col-xs-3 gallery-item">
                      <a class="link-gallery" routerLink="/canvas/new">
                          <img src="../../assets/images/plus.png" class="img-responsive img-gallery" alt="First image">
                      </a>
                  </div> <!-- /.col -->
                  
                  <div class="col-xs-3 gallery-item" *ngFor="let list of canvasList">
                    <a routerLink="/canvas/{{ list._id }}" class="link-gallery">
                        <img src="../../assets/images/image.png" class="img-responsive img-gallery" alt="Second image">
                    </a>
                  </div>

                  
              </div> <!--/.row  -->
      </div> <!-- /.container -->
    </div> <!-- /.gallery -->
  </div>
  <div class="tab-pane fade" id="profile">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
  </div>
</div>



