<div class="alert alert-dismissible {{ className }}" *ngIf="enableMessage">
    {{ msg }}
</div>
<p>Click On Draw Button</p>
    <button class="btn btn-primary"
    (click)="select(DrawingTools.PENCIL,'BLACK')">Draw <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <!-- <button class="btn btn-info"
        (click)='clearSelection(); setSelection("undo"); undo()'>Undo</button> -->
    <button class="btn btn-danger"
    (click)="select(DrawingTools.PENCIL,'WHITE')">Erase <i class="fa fa-eraser" aria-hidden="true"></i>
    </button>
    <button class="btn btn-success" [disabled]="btnStatus" (click)="saveDraw()">Save <i class="fa fa-floppy-o" aria-hidden="true"></i>
</button>