<div class="text-center">
    <app-buttons [btnStatus]="btnStatus" [resultCanvasJSON]="resultCanvasJSON" 
    [update]="update" [getCanvas_id]="getCanvas_id"
    (openModalNow)="getModalMsg($event)"></app-buttons>
    <!-- <app-colors></app-colors> -->
    <app-colors (hexMessageEvent)="receiveMessage($event,'')"></app-colors>
    <!-- <div id="canvas"></div> -->
    <canvas id="canvas" width="1920" height="350" style="border:1px solid #000000;"></canvas>
</div>


<button type="button" class="btn btn-primary hideBtn" id="openModalButton" 
(click)="openModal(template)">Create template modal</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Share Canvas</h4>
    <button type="button" class="close pull-right" aria-label="Close" id="closeModal" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="shareCanvas()">
      <div class="form-group">
        <label for="email">Link:</label>
        <input name="onlineUrl" id="onlineUrl" formControlName="url"
        type="text" class="form-control" placeholder="Event Url..." value="{{ getWindowLink }}"/>
      </div>
      <div class="checkbox">
        <ng-container *ngFor="let user of actualSharedUser">
            <label><input type="checkbox" name="user_ids" 
            (change)="onChange(user._id, $event.target.checked)"> {{user.name}}</label>&nbsp;
        </ng-container>
      </div>
      <button type="submit" class="btn btn-primary">Share</button> &nbsp;
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
    </form>
  </div>
</ng-template>
  